* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
    padding: 1rem 0;
}

/* Header Style */

.navbar {
    position: relative;
    z-index: 1;
}

.logosx {
    float: left;
    width: 23%;
}

.logo {
    vertical-align: middle;
}

.actions {
    float: left;
    text-align: center;
    width: 52%;
}

a {
    text-decoration: none;
    line-height: 34px;
    padding: 0 1rem;
    font-weight: bold;
    color: white;
}

button {
    border: none;
    border-radius: 1.3rem;
    padding: 5px 12px;
}

.login {
    float: right;
    border: none;
}

/* Main Style */

.site_main {
    width: 100%;
    background-color: cadetblue;
}

.jumbo {
    width: 100%;
}

.hero_image {
    position: absolute;
    top: 0;
    left: 0;
}

.this_is_discord {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
    padding: 1rem;
}

.its_discord {
    padding: 1rem;
}

.mac, .browser {
    margin: 1rem;
    font-size: 1.1rem;
    padding: 5px 15px;
}

.browser {
    background-color: #23272a;
    color: white;
}

.mac {
    color: #23272a;
}